h1{
        color: #AC5BE;
        background-color: red;
        font-weight: bold;

}
h2{
        color: #AC5BE;
        background-color: red;
        font-weight: bold;

}
body{
        background-color: lightblue;
}
