body{
    background-color: Maroon;
    text-align: center;

}
h1{
    color: White;
}
body{
    color: White;

}
.main{
    display:flex;
}

.studentLogin {
    flex:1;
}

.adminLogin {
    flex:1;
}
