ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.weekdays{
    margin: 0;
    padding: 10px 0;
    background-color: antiquewhite;
}

.weekdays li{
    display: inline-block;
    width: 20px;
    text-align: center;
    font-size: 20px;
}

.weekdays .next{
    float: right;
    padding-top: 10px;
}

.weekdays .prev{
    float: left;
    padding-top: 10px;
}

.days{
    padding: 10px;
    margin: 0;
}

.days li{
    list-style-type: none;
    display: inline-block;
    text-align: center;
    font-size: 15px
}

.time .entry:after,
.time .heading:after {
  content: '';
  position: absolute;
  bottom: -1px;
  right: -1px;
  width: 50%;
  height: 1px;
  z-index: 3;
  background: linear-gradient(to left, var(--bd-color), var(--body-bg));
}
